{% ckan_extends %}

{% block footer_content %}

    <div class="row">
      <div class="span4 footer-links">
	<div>
	    <p><a href="http://ccg.murdoch.edu.au/">Designed, developed and operated by the Centre for Comparative Genomics, Murdoch University</a></p>
	</div>
      </div>
      <div class="span4 attribution">
      </div>
      <div class="span4 attribution">
	<ul class="nav">
	    {% block header_site_navigation_tabs %}
		{{ h.build_nav_main(
		('organizations_index', _('Organisations')),
		('search', _('Datasets')),
		('group_index', _('Groups')),
		) }}
	    {% endblock %}
	</ul>
      </div>
    </div>
{% endblock %}
