{#
Displays a single of dataset.

package        - A package to display.
item_class     - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}

{% block package_item %}
  <tr>
    <td>
      {{ h.link_to(package.chevron_dataset or 'Unknown', h.url_for(controller='package', action='read', id=package.name)) }}
    </td>
    <td>
        {% if package.type == 'chevron-padil-images' %}
            {{ package.species_name }}
        {% elif package.type == 'chevron-safeguard-event' %}
            {{ package.specimen_type }}
        {% else %}
            {{ package.specimen_type }}
        {% endif %}
    </td>
    <td>
        {% if package.type == 'chevron-padil-images' %}
            {{ package.taxonomy }}
        {% elif package.type == 'chevron-safeguard-event' %}
            {{ package.taxonomy_genus }} {{ package.taxonomy_species }}
        {% else %}
            {{ package.taxnonmy_genus }} {{ package.species }}
        {% endif %}
    </td>
    <td>
        {% if package.type == 'chevron-padil-images' %}
            {{ package.location_data }}
        {% else %}
            {% if package.locality_name %}
                {{ package.locality_name }}
            {% elif package.locality %}
                {{ package.locality }}
            {% elif package.location %}
                {{ package.location }}
            {% elif package.location_description %}
                {{ location_description }}
            {% elif package.location_code %}
                {{ location_code }}
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if package.type == 'chevron-safeguard-event' %}
            {{ package.date }}
        {% else %}
            {% if package.date %}
                {{ package.date }}
            {% elif package.survey_date %}
                {{ package.survey_date }}
            {% elif package.date_determined %}
                {{ package.date_determined }}
            {% elif package.start_date %}
                {{ package.start_date }} &mdash; {{ package.end_date }}
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if package.type == 'chevron-padil-images' %}
            {{ package.exotic_status }}
        {% elif package.type == 'chevron-safeguard-event' %}
            {{ package.status_on_bwi }}
        {% else %}
            {{ package.status_on_bwi }}
        {% endif %}
    </td>
    <td>
        {% if package.type == 'chevron-safeguard-event' %}
            {{ package.amount }}
        {% elif package.abundance %}
            {{ package.abundance }}
        {% else %}
            {{ package.amount_of_material_or_number_of_individuals }} {{ package.quarantine_event_amount_of_materials_in_units }}
        {% endif %}
    </td>
    <td>
        {% if package.type == 'chevron-safeguard-event' %}
            {{ package.condition_of_detection }}
        {% else %}
            {{ package.identification_method }}
        {% endif %}
    </td>
  </tr>
{% endblock %}
